:root {
  --color-black: #121212;
  --color-dark-blue: #19202d;
  --color-white: #ffffff;
  --color-grey-100: #e7eaee;
  --color-grey-200: #cfcfcf;
  --color-grey-400: #676d7e;
  --color-grey-500: #48556a;
  --text-color-card-one: #ede4ff;
  --decor-color-card-one: #a775f1;
  --bg-color-card-one: #733fc8;
  --bg-color-body: #f6f5f6;

  --font-family: "Barlow Semi Condensed";
  --font-size-main: 0.8125rem;
  --font-size-heading: 1.25rem;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;

  --border-radius: 0.5rem;
  --card-padding: 2rem;
  --card-gap: 2rem;
  --inner-card-gap: 1rem;
  --shadow: 2.5rem 3.75rem 3.125rem -2.9375rem rgba(72, 85, 106, 0.25);
}

$mobile-bp: 23.4375rem;
$tablet-bp: 48rem;
$desktop-bp: 90rem;
