@use "../utils/functions" as *;

.attribution {
  padding-block: 0.9375rem;
  font-size: fluid-value(11, 14);
  text-align: center;
}

.link {
  color: var(--bg-color-grey-500);
  transition: color var(--transition-duration);

  &:hover,
  &:focus {
    color: var(--bg-color-purple);
  }

  &:focus,
  &:focus-visible {
    outline: var(--outline);
    outline-offset: 3px;
    border-radius: var(--border-radius);
  }

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0.01ms;
  }
}
