@use "../utils/variables" as *;

.testimonials {
  &__list {
    display: grid;
    row-gap: var(--card-gap);
    justify-content: center;

    grid-template-columns: repeat(1, minmax(auto, 40.625rem));
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "card-4"
      "card-5";

    @media screen and (min-width: $tablet-bp) {
      grid-template-columns: repeat(2, minmax(auto, 40.625rem));
      column-gap: var(--card-gap);
      grid-template-areas:
        "card-1  card-1"
        "card-2  card-3"
        "card-4  card-4"
        "card-5  card-5";
    }

    @media screen and (min-width: $desktop-bp) {
      grid-template-columns: repeat(4, minmax(15.9375rem, 28.125rem));
      column-gap: var(--card-gap);
      grid-template-areas:
        "card-1 card-1 card-2 card-5"
        "card-3 card-4 card-4 card-5";
    }
  }
  &__item {
    display: flex;
    flex: 1;
  }
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}
